*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  background-color: rgb(43, 42, 42);
  color: rgb(224, 221, 221);
  justify-content: space-around;
  align-items: center;
  height: 4rem ;
}



nav div ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}
