*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  background-color: rgb(43, 42, 42);
  color: rgb(224, 221, 221);
  justify-content: space-around;
  align-items: center;
  height: 4rem ;
}



nav div ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}

nav div button, button{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  transition: transform 0.3s ease-in;
}

nav div button:hover{
  transform: scale(1.02);
  cursor: pointer;
  background-color: rgb(241, 224, 202);
}
header section div button:hover{
  transform: scale(1.02);
  cursor: pointer;
  background-color: rgb(241, 224, 202);
}

.hero{
  display: flex;
}