*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  background-color: rgb(43, 42, 42);
  color: rgb(224, 221, 221);
  justify-content: space-around;
  align-items: center;
  height: 4rem ;
}



nav div ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 40px;
}

nav div button, button{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  transition: transform 0.3s ease-in;
}

nav div button:hover{
  transform: scale(1.02);
  cursor: pointer;
  background-color: rgb(241, 224, 202);
}
header section div button:hover{
  transform: scale(1.02);
  cursor: pointer;
  background-color: rgb(241, 224, 202);
}

.hero{
  display: flex;
  background-color: rgb(43, 42, 42);
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  width: 100%;
  color: rgb(224, 221, 221);
  padding: 40px 80px;
}

.hero div{
  flex: 1;
}

.left h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}

.left p{
  font-size: 1.2rem;
  color: rgb(162, 165, 165);
  margin-bottom: 1rem;
}

.left button{
  padding: 8px 16px;
  width: 200px;
}
.right img{
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgb(10, 9, 9);
  object-fit: cover;
  transition: transform 0.3s ease-in;

}

.right img:hover{
  transform: scale(1.04);
  cursor: pointer;
}



.client{
  text-align: center;
  margin:20px 0;
}


.client-logo{
  display: flex;
  flex-wrap: wrap;
  margin: 40px 5%;
  justify-content: space-evenly;
  border: 2px solid rgb(245, 239, 239);
  border-radius: 5px;
  padding: 30px 20px;
  transition: all 0.3s ease;
}

.client-logo img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: fill;
  transition: all 0.3s ease-in;
  border: 2px solid rgb(245, 239, 239);
}

.client-logo img:hover{
  transform: scale(1.05);
  border-radius: 10px;
  border: 2px solid rgb(151, 149, 149);
  box-shadow: 0 0 10px 1px rgb(174, 170, 170);
}

/* card section starts from here */

.card-section{
  display: flex;
  gap: 10px;
  margin: 40px 5%;
  /* justify-content: space-evenly; */
  padding: 20px 10px;
  flex-wrap: wrap;
  transition: all 0.3s ease;
  /* border: 2px solid rgb(245, 239, 239); */
  border-radius: 5px;
}

.products{
  text-align: center;
}

.card:hover, .client-logo:hover{
  border: 2px solid rgb(174, 170, 170);
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgb(174, 170, 170);
} 

.card{
    /* padding-bottom: 5px; */
  border: 2px solid rgb(245, 239, 239);
    width: 30%;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    transition: all 0.3s ease;

}

.card img{
  width: 80%;
  height: 250px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  border: 2px solid rgb(245, 239, 239);
  margin-bottom: 15px;
  object-fit: fill;
}

.card h3,p{
  margin: 5px 0;
  padding: 0 5px;
}

.card p{
  margin-bottom: 20px;
}


.card img:hover{
  transform: scale(1.05);
  border-radius: 10px;
  border: 2px solid rgb(151, 149, 149);
  box-shadow: 0 0 10px 1px rgb(174, 170, 170);
}

/* media queries */
/* for very small mobile screen sizes */

@media screen and (max-width:479px){
  .card-section{
  flex-direction: column;
  padding: 30px 10px;
  border: none;
}

}

/* for most of the phones */
@media  screen and (max-width:639px) {
.card-section{
  flex-direction: column;
  padding: 30px 10px;
  border: none;
}
.card{
    width: 100%;
    height: 500px;
    text-align: center;
    padding: 10px 0;
    margin: 50px 5px;
}
.card img{
  width: 80%;
  height: 450px;
  margin: 15px;
}
  
}

/* for small tablets */
@media  screen and (max-width:767px) {
  .card-section{
        display: flex;  
    flex-wrap: wrap;  
  padding: 30px 10px;
  gap: 20px;
}
.card{
    /* width: 90%; */
    height: 400px;
    text-align: center;
    padding: 10px 0;
}
.card img{
  width: 80%;
  height: 350px;
  margin: 15px;
}
  
}

/* for ipad landscapes */

@media screen and (min-width:1023px){
  
}

/* for standard laptop */

@media screen and(min-width:1279px){

}

/* for large screens */

@media  screen and(min-width:1535px) {
  
}

/* for very large monitors */

@media screen and(min-width:1536px) {
  
}